.friendList {
  width: 400px;
  padding: 20px 0px;
}
.item {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  box-shadow: 2px 2px 3px 2px var(--shadow-color);
  height: 80px;
  border-radius: 10px;
}
.item:not(:last-child) {
  margin-bottom: 20px;
}
.avatar {
  width: 60px;
  border-radius: 10%;
  border: 2px solid rgb(19, 18, 18);
}
.name {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.5;
  margin-left: 20px;
  color: var(--tittle-color);
}
.status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  margin: 0px 10px;
}
